<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cron Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form method="POST">
    <div class="form-group">
        <label for="exampleFormControlInput1">Тип рассписания</label>
        <select size="10" class="form-control" name="type" >

                <option value=0>Отправка в определенный день месяца</option>
            <option value=1>Отправка в последний день месяца</option>

        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2">Время</label>
        <input type="time" id="comment_id" class="form-control" name="time" >

    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2">день</label>
        <input type="text"  class="form-control" name="day" >

    </div>




    <button type="submit" class="btn btn-primary">Send</button>
</form>

</body>
</html>